<div fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <span class="navbar-brand">
      Hutch FE Test - Admin Portal
    </span>

    <ng-container *ngIf="authed|async">
      <ul class="nav navbar-nav" fxLayoutAlign="flex-start center">
        <li routerLinkActive="active">
          <a routerLink="/dashboard">Dashboard</a>
        </li>

        <!--
        <li routerLinkActive="active">
          <a routerLink="/user">User</a>
        </li>
        -->

        <button class="btn btn-sm text-danger" (click)="errorService.setError({ message: 'Simulated error from API call', stacktrace: '{ Stack trace here }' })">
          Simulate error
        </button>

        <li>
          <a routerLink="/logout">Logout</a>
        </li>
      </ul>
    </ng-container>
  </div>

  <app-env-info *ngIf="authed|async"></app-env-info>
</div>

<div class="container">
  <div class="alert alert-danger" *ngIf="error|async as err">
    <button type="button" class="close" (click)="errorService.clear()">&times;</button>
    <strong>{{ err.message }}</strong>
    <p>
      <code>{{ err.stacktrace }}</code>
    </p>

    <button class="btn btn-warning" (click)="errorService.clear()">
      Dismiss
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
